.about-container {
  display: flex;
  width: 100%;
  height: 70vh;
  justify-content: space-between;
  flex-direction: row;
}

.about-container-left,
.about-container-right {
  flex: 1; /* Divide equally */
  /* display: flex; */
  align-items: center;
  justify-content: center;
  position: relative; /* For the moving image */
}

.center-image {
  width: 300px; /* Adjust image size */
  height: auto;
  position: absolute;
  top: 40%;
  left: 30%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

/* .moving-image {
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
  } */

.about-container-right {
  margin-top: 150px;
}
.about-container-right h1 {
  font-size: 24px;
  background: linear-gradient(90deg, #ffd74e, #e5a837);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Montserrat", serif;
}
.about-container-right p {
  font-size: 16px;
  line-height: 2rem;
  color: #fff;
  width: 90%;
  font-family: "Montserrat", serif;
}

.background-text {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, 0.1); /* Light color with opacity */
    font-size: 6rem; /* Adjust font size */
    z-index: 1; /* Ensures the text stays behind */
    pointer-events: none; 
    /* width: 100px; */
    font-family: "Montserrat", serif;
    background: linear-gradient(90deg, #ffd74e, #e5a837);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Montserrat", serif;
    font-weight: 700;
    opacity: 0.5;
  }

  @media (max-width: 768px){
    .about-container{
        flex-direction: column;
        height: 100vh;
        margin-top: 160px;
        margin-bottom: 260px;
    }
    .center-image{
        width:200px;
        margin-top:-15%;
        left:20%;
    }
    .background-text{
        font-size: 52px ;
        margin-top: 15px;
        
    }
    .about-container-right{
        padding: 20px;
    }
    .about-container-right p{
        font-size:14px;
        line-height: 2;
    }
  }